/*初始化*/
body{
	margin: 0;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
	margin: 0;
}
a{
	color: #fff;
	text-decoration: none;
}
img{
	border: none;
}
p{
	margin: 0;
}
dd{
	margin: 0;
}
dl{
	padding:0px;
	margin: 0px;
}
hr{
	margin: 0px;
}


body{
	background-image: url(../img/win10.jpg);
	background-size:100% ;
}
section{
	width: 100%;
	height: 597px;
}
footer{
	width: 100%;
	height: 40px;
	background: #000408;
}
footer img{vertical-align:super;}

