/*Windows下的样式*/
#Windows{
	width: 48px;
	height: 36px;
	position: relative;
}
#Windows .btn{
	width: 48px;
	height: 36px;
	background-image: url(../ico/windows_ico.gif);
	display: inline-block;
}
#Windows .btn:hover{
	background-image: url(../ico/windows_hover.gif);
}
#Windows .WindPopup{
	width: 960px;
	height:530px;
	border-top: 1px solid #2b3845;
	border-right: 1px solid #2b3845;
	background: #141a20;
	opacity: 0.96;
	position: absolute;
	top: -530px;
	display: none;
}
#Windows .WindPopup .WindPopupLeft{
	width: 48px;
	height: 100%;
}
#Windows .WindPopup .WindPopupLeft .start{
	width: 48px;
	height: 100%;
}
#Windows .WindPopup .WindPopupLeft ul li{
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	overflow: hidden;
}
#Windows .WindPopup .WindPopupLeft ul li img{
	margin-left: 16px;
	margin-right: 16px;
}
#Windows .WindPopup .WindPopupLeft ul li:hover{
	background: #333538;
	
}
#Windows .WindPopup .WindPopupLeft li:nth-child(2){
	margin-top: 330px;
	
}
.popups1{
	width: 256px;
	height: 112px;
	border: 1px solid #767676;
	position: absolute;
	top: 262px;
	display: none;
	background: #2b2b2b;
}
.popups1 a{
	width: 256px;
	display: inline-block;
	font-size: 12px;
	line-height: 33px;
	text-indent: 12px;
	margin-top: 4px;
}
.popups1 a:hover{
	background: #333538;
}
.hover{
	width: 46px;
	height: 28px;
	border: 1px solid #767676;
	font-size: 11px;
	text-align:center;
	line-height: 28px;
	color: #FFFFFF;
	background: #2b2b2b;
	display: none;
	position: absolute;
}
