/*Windows下的样式*/
#Windows{
	width: 48px;
	height: 36px;
	float: left;
	position: relative;
}
#Windows .btn{
	width: 48px;
	height: 40px;
	background-image: url(../ico/windows_ico.gif);
	display: inline-block;
}
#Windows .btn:hover{
	background-image: url(../ico/windows_hover.gif);
}
#Windows .WindPopup{
	width: 960px;
	height:530px;
	border-top: 1px solid #2b3845;
	border-right: 1px solid #2b3845;
	background: #141a20;
	opacity: 0.96;
	position: absolute;
	top: -530px;
	display: none;
}

/*最左边功能键*/
#Windows .WindPopup .WindPopupLeft{
	width: 48px;
	height: 100%;
	
}
#Windows .WindPopup .WindPopupLeft .start{
	width: 48px;
	height: 100%;
	position: absolute;
	background: #141a20;
	z-index: 1;
}
#Windows .WindPopup .WindPopupLeft ul li{
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	overflow: hidden;
	z-index: 2;
}
#Windows .WindPopup .WindPopupLeft ul li img{
	margin-left: 16px;
	margin-right: 16px;
}
#Windows .WindPopup .WindPopupLeft ul li:hover{
	background: #333538;
	
}
#Windows .WindPopup .WindPopupLeft li:nth-child(2){
	margin-top: 330px;
	
}
.popups1{
	width: 256px;
	height: 112px;
	border: 1px solid #767676;
	position: absolute;
	top: 262px;
	display: none;
	background: #2b2b2b;
	z-index: 3;
}
.popups1 a{
	width: 256px;
	display: inline-block;
	font-size: 12px;
	line-height: 33px;
	text-indent: 12px;
	margin-top: 4px;
}
.popups1 a:hover{
	background: #333538;
}
.hover{
	width: 46px;
	height: 28px;
	border: 1px solid #767676;
	font-size: 11px;
	text-align:center;
	line-height: 28px;
	color: #FFFFFF;
	background: #2b2b2b;
	display: none;
	position: absolute;
	z-index: 4;
}
/*所有应用*/
.allapp{
	width: 260px;
	height: 530px;
	position: absolute;
	top:0;	
	left: 48px;
	overflow: hidden;
	z-index: -1;
}
.allappleft{
	width: 248px;
	height: 530px;
	float: left;
}
.appul{
	width: 248px;
	position: absolute;
	top: 0;
}
.appul li{
	width: 248px;
	height: 36px;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 36px;
	position: relative;
	margin-top: 4px;
}
.appul li:nth-child(1){
	margin-top: 0;
}
.appul li:nth-child(1) a{
	position: absolute;
	top: 8px;
}
.appul li:hover{
	background:#333538 ;
}
.appul li p{
	display: inline-block;
	line-height: 36px;
	text-indent: 4px;
	position: absolute;
	top: -2px;
	left: 36px;
}
.sliding{
	width: 12px;
	height: 530px;
	background: #333538;
	float: right;
	vertical-align: middle;
	display: none;
}
.sliding a:nth-child(1){
	width: 12px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	position: absolute;
	top: 0px;
}
.sliding a:last-child{
	width: 12px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	position: absolute;
	top: 518px;
}
.sliding1{
	width:12px;
	height:506px;
	position: absolute;
	top: 12px;
}
.sliding2{
	width: 12px;
	height: 80px;
	background: #585a59;
	position: absolute;
	top: 0;
}
.sliding2:hover{
	background: #8f8f8f;
}

/*
 * 右侧方块
 */
#Windows .WindPopup .WindPopupRight{
	width: 653px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 308px;
}
.WindPopupRight .weather{
	width: 320px;
	height: 352px;
	margin-top: 19px;
	margin-left: 4px;
}
.WindPopupRight dt{
	font-size: 11px;
	color: #FFFFFF;
	text-indent: 2px;
}
.WindPopupRight dd{
	font-size: 0;
	border: 2px solid #14191f;
}
.WindPopupRight dd:hover{
	border: 2px solid #80bceb;
}
.weather dd{
	float: left;
	margin-right: 1px;
}
.weather dd:nth-child(4){
	margin-right: 0;
}
.WindPopupRight .portal{
	width: 320px;
	height: 137px;
	margin-top: 24px;
	margin-left: 4px;
}
.portal dd{
	float: left;
	margin-right: 1px;
}
.WindPopupRight .play{
	width: 320px;
	height: 248px;
	position: absolute;
	top: 19px;
	left: 324px;
}
.WindPopupRight .play dd{
	float: left;
	margin-right: 1px;
}
.WindPopupRight .play dd:last-child{
	width: 100px;
	height: 100px;
	border: 2px solid #141a20;
	font-size: 0;
}
.WindPopupRight .play dd:last-child:hover{
	border: 2px solid #141a20;
}
.WindPopupRight .play dd:last-child img{
	border: 2px solid #141a20;
	margin-top: 2px;
}
.WindPopupRight .play dd:last-child img:nth-child(1){
	margin-top: 0px;
}
.WindPopupRight .play dd:last-child img:nth-child(2){
	margin-top: 0px;
}
.WindPopupRight .play dd:last-child img:hover{
	border: 2px solid #80bceb;
}
.WindPopupRight .dictionaries{
	width: 320px;
	height: 240px;
	margin: 0;
	position: absolute;
	top: 291px;
	left: 324px;
}
.dictionaries dd{
	float: left;
	margin-right: 1px;
}
/*
 * 滑块
 */
 .strip{
	width: 12px;
	height: 530px;
	background: #333538;
	vertical-align: middle;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
.strip a:nth-child(1){
	width: 12px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	position: absolute;
	top: 0px;
}
.strip a:last-child{
	width: 12px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	position: absolute;
	top: 518px;
}
.strip1{
	width:12px;
	height:506px;
	position: absolute;
	top: 12px;
}
.strip2{
	width: 12px;
	height: 80px;
	background: #585a59;
	position: absolute;
	top: 0;
}
.strip2:hover{
	background: #8f8f8f;
}

/*
 * 任务栏系统托盘
 */
footer .taskbar{
	width: 330px;
	height: 40px;
	float: right;
	position: relative;
}
.taskbar .icon{
	width: 24px;
	height: 40px;
	display: inline-block;
}
.taskbar .power{
	width: 24px;
	height: 40px;
	display: inline-block;
}
.taskbar .network{
	width: 24px;
	height: 40px;
	display: inline-block;
}
.taskbar .loudspeaker{
	width: 24px;
	height: 40px;
	display: inline-block;
}
.taskbar .state{
	width: 22px;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	font-size: 13px;
	display: inline-block;
	vertical-align:top;
}
.taskbar .method{
	width: 36px;
	height: 40px;
	display: inline-block;
}
.taskbar .time{
	width: 73px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	vertical-align:top;
}
.taskbar .message{
	width: 40px;
	height: 40px;
	display: inline-block;
}
.taskbar .desktop{
	width: 23px;
	height: 40px;
	font-size: 40px;
	text-indent: 8px;
	color: #66696b;
	
	display: inline-block;
	vertical-align:top;
}
.taskbar .time a{
	text-align: center;
}
.taskbar .desktop .wire{
	width: 1px;
	height: 40px;
	border-right: 1px solid #66696b;

}