/*
 * 样式重置
 */
body{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
	margin: 0;
	padding: 0px;
}
a{
	text-decoration: none;
}
h4{
	margin: 0;
}
p{
	margin: 0;
}
h3{
	margin: 0;
}
/*
 * 头部
 */
.active{
	margin: 0px 0px 0px 165px;
}
body{
	background: url(../img/img_bg.png);
}
.wuyan{
	width:100%;
	height:28px;
	background: url(../img/img_01.jpg);
}
#blogs .top{
	height: 197px;
}
.top h2{
	height: 38px;
	font-size: 38px;
	font-family: "楷体";
	letter-spacing:6px;
	margin: 38px 0px 0px 17px;
}
.top ul{
	width: 780px;
	height: 63px;
	background:url(../img/img-02.gif) no-repeat;
	margin: 47px 0px 11px 7px;
}
.top ul li{
	font-size: 16px;
	margin:28px 0px 0px 40px;
	float: left;
}
.top ul li:nth-child(1){
	margin-left: 34px;
}
.top ul li a{
	color: #fff;
}

/*
 * 主板块
 */
.zhou1{
	width: 1034px;
	height: 14px;
	background: url(../img/img_03.gif);
}
section{
	width: 963px;
	height: 1002px;
	border-top: 27px solid #e5e5e5;
	border-bottom: 27px solid #e5e5e5;
	border-left: 21px solid #e5e5e5;
	border-right: 21px solid #e5e5e5;
	margin: 0 14px;
	background: #ececec;
}
section .secleft{
	width: 595px;
	height: 1010px;
	padding: 39px 0px 25px 23px;
	float: left;
}
section .secleft ul li{
	position: relative;
}
section .secleft h4{
	width: 100%;
	height: 26px;
	font-size: 16px;
	border-bottom: 1px dashed black;
}
section .secleft h4 img{
	float: right;
}
.txtimg{
	width: 146px;
	height: 116px;
	margin: 12px 0 24px 8px;
	display: inline-block;
}
.txt{
	width: 421px;
	height: 64px;
	display: inline-block;
}
.txt p{
	font-size: 12px;
	line-height:22px;
	color: #767676;
	position: absolute;
	top:60px;
	left:159px;
}
.txt p a{
	position: absolute;
	top:78px;
	left: 369px;
	color: #767676;
}
.time{
	width: 575px;
	height: 23px;
	background: #737673;
	margin:0px 6px 37px 6px;
}
.time li{
	float: left;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing:1px;
	line-height: 23px;
	margin-left: 45px;
}
.time li:nth-child(1){
	margin-left: 10px;
}
.zhou2{
	width: 1034px;
	height: 14px;
	background: url(../img/img_06.gif);
}

.secright{
	width: 311px;
	height: 1073px;float: right;
	padding: 39px 0px 25px 0px;
	margin-left: 22px;
	position: relative;
}
.secright .followMe{
	width: 100%;
	height: 134px;
}
.secright .followMe h3{
	width: 100%;
	height: 45px;
	background: url(../img/img_07.gif);
}
h3 p{
	line-height: 45px;
	margin-left: 34px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: "微软雅黑";
	letter-spacing: 2px;
	font-weight: 200;
}
.secright .followMe a{
	margin-left: 22px;
	display: inline-block;
}
.secright .followMe a:last-child{
	position: absolute;
	top:80px;
}
